
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

.App{
    min-height: 100vh;
    background-image: url('../public/socialmediabg.jpg');
    background-position: center;
    background-repeat: no-repeat;
}